<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-con"><img src="assets/images/fav.png" alt="logo">Simple-CRM
    </div>


    <mat-list role="list">
      <mat-list-item class="sidenav-menu-buttons" role="listitem" routerLink="user">User
        <mat-icon matListItemIcon>perm_identity</mat-icon>
      </mat-list-item>
      <mat-list-item class="sidenav-menu-buttons" role="listitem" routerLink="dashboard">Dashboard
        <mat-icon matListItemIcon>fact_check</mat-icon>
      </mat-list-item>

    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="router-con">
    <router-outlet>
    </router-outlet>
  </div>

</mat-drawer-container>
