mat-card
    margin-bottom: 20px

.vert-button
    position: absolute
    right: 30px
    top: 10px

.detail-name-card
    background-color: #ffc851
    color: #fff
    padding: 30px
    padding-top: 100px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    h1
        font-size: 40px
        margin-block: 10px
        font-weight: 700
    p
        margin-top: 20px
        font-size: 22px

.profile-img
    width: 120px
    border-radius: 50%
    margin-right: 50px

.detail-adress-card
    padding: 30px
    font-size: 18px
    mat-card-content
        padding: 0
        margin-bottom: 20px
        font-size: 26px 
        font-weight: 700
    div
        display: flex
        p
            margin-right: 5px